<header class="header-class">
  <div class="nav-bar">
    <a class="company-logo-box"><img (click)="navigateToHome()" class="company-logo container"
                                     src="assets/images/logoBlock.png"
                                     alt="logo van Slagerij Vermeer"></a>
    <div class="right-nav-side">
      <a (click)="navigateToHome()">Home</a>
      <a (click)="navigateToAccount()">Account</a>
      <a (click)="navigateToNewOrder()">Nieuwe Bestelling</a>
      <a (click)="navigateToReceivedOrder()">Ontvangen Bestellingen</a>
      <a (click)="navigateToLogin()">Login</a>
      <a (click)="logOut()">Log out</a>
    </div>
  </div>
</header>
