<div class="wrapper">
  <div class="middle">
    <!-- FIRST PAGE -->
    <div *ngIf="currentPage === 0">
      <h1>NIEUWE BESTELLING</h1>
      <div class="location-div">
        <h2>LOCATIE</h2>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Wagnerplein</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
<!--              <h3>Wagnerplein</h3>-->
              <h3>Adres</h3>
              <p>Wagnerplein 22,</p>
              <p>5011 LP Tilburg</p>
              <h3>Telefoonnummer</h3>
              <p>013-4562435</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="big-button" (click)="selectLocation()">Selecteer locatie</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Heyhoefpromenade</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
<!--              <h3>Heyhoefpromenade</h3>-->
              <h3>Adres</h3>
              <p>Heyhoefpromenade 83,</p>
              <p>5043 RB Tilburg</p>
              <h3>Telefoonnummer</h3>
              <p>013-5711507</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="big-button" (click)="selectLocation()">Selecteer locatie</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div>
        <h2>DATUM</h2>
        <div class="calendar-wrapper">
          <mat-calendar #calendar (selectedChange)="dateSelected($event)" [(selected)]="selectedDate">
          </mat-calendar>
        </div>
      </div>
      <div>
        <h2>TIJD</h2>
      </div>
      <div>
        <h2 (click)="nextPage()">VOLGENDE STAP <span class="material-icons">navigate_next</span></h2>
      </div>
    </div>
    <!-- SECOND PAGE -->
    <div *ngIf="currentPage === 1">
      <h1>NIEUWE BESTELLING</h1>
      <div>
        <h2>PRODUCTEN</h2>
        <span>
          <input name="search-product-input" class="search-bar-input" placeholder="Typ hier om te zoeken..."/>
          <span class="material-icons">search</span>
        </span>
        <!-- new version -->
        <div class="product-list">
          <div class="product-box" *ngFor="let product of products">
            <p>{{product.id}} {{product.name}} {{product.price}}</p>
            <button (click)="addToShoppingCart(product)">Voeg product toe aan winkelwagen</button>
          </div>
        </div>
        <!-- todo remove this code when alternative is functioning correctly -->
<!--        <div class="product-category-container">-->
<!--          <div (click)="selectedCategory(i)" class="product-category-square" *ngFor="let proCat of productCategories; index as i">-->
<!--            <img class="product-category-image" alt="Afbeelding van de product categorie" src="{{proCat.source}}"/>-->
<!--            <p class="product-category-text">{{proCat.title}}</p>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div>
        <h2>WINKELWAGEN</h2>
        <div class="products-container">
          <div class="products-item" *ngFor="let proItem of selectedProducts">
            <!--TODO MAKE A TABLE -->
            <p>
              <span>{{proItem.amount}}</span>
              <span>{{proItem.product.quantityMeasurement}}</span>
              <span>{{proItem.product.name}}</span>
            </p>
          </div>
        </div>
        <div>
          <h3 (click)="nextPage()">VOLGENDE STAP <span class="material-icons">navigate_next</span></h3>
        </div>
      </div>
      <div>
        <h2>TIJD</h2>
      </div>
      <div>
        <h2 (click)="nextPage()">VOLGENDE STAP <span class="material-icons">navigate_next</span></h2>
      </div>
    </div>
  </div>
</div>
